
.brighten img {
  -webkit-filter: brightness(100%);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}

.brighten img:hover {
  -webkit-filter: brightness(50%);
  title: hidden;
}


/*  KWADRACIKI  */

.wrap {
  overflow: hidden;
  margin: 0 auto;

  box-sizing: border-box;
}

.box {
  float: left;
  position: relative;
  width: 25%;
  padding-bottom: 25%;
}

.boxInner {
  position: absolute;
  left: 2px;
  right: 2px;
  top: 0;
  bottom: 4px;
  overflow: hidden;
}

.boxInner img {
  width: 100%;
}

.boxInner .titleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #000;
  background: rgba(138, 106, 78, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
  margin-bottom: 0;
}


@media only screen and (max-width : 480px) {
  .box {
    width: 100%;
    padding-bottom: 100%;
  }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
  .box {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
  .box {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
  .box {
    width: 25%;
    padding-bottom: 25%;
  }
}
