//VARIABLES

$max_width: 1600px;
$col-1-width: 55%;
$col-2-width: 45%;

//Backgrounds colors
$body_back: #1a1a1a;
$body_back_light: white;
$comment_back: lighten($body_back, 10%);
$beige_color: #ba9d84;

// Fonts
$fontMain: 'Comfortaa', sans-serif;


//Mixins
@mixin center_elem {
  position: relative;
  margin: 0 auto;
}

// Transitions, transformations

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  transform: $args;
  -webkit-transform: $args;
  -ms-transform: $args;
}

//Screen sizes
@mixin screen_tablet_portrait {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin screen_tablet {
  @media only screen and (min-width: 960px) {
    @content;
  }
}

@mixin screen_desktop_small {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin screen_desktop_medium {
  @media only screen and (min-width: 1441px) {
    @content;
  }
}

@mixin screen_desktop_large {
  @media only screen and (min-width: 1600px) {
    @content;
  }
}

// --------------- CODE --------------------

//* {
//  box-sizing: border-box;
//}

body {
  background-color: $body_back_light;
  font-size: 100%;
  font-family: $fontMain;
  padding: 0;
  margin: 0;
  @include transition (1.1s)
}

.fade-out {
  opacity: 0;
}

.welcome_fixed {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

#welcome_pic {
  opacity: 1;
  width: 767px;

  @include screen_tablet_portrait {
    width: 959px
  }
  @include screen_tablet {
    width: 1199px
  }

  @include screen_desktop_small {
    width: 1440px
  }
  @include screen_desktop_medium {
    width: 1600px
  }
  @include screen_desktop_large {
    width: 1600px
  }
}

.welcome_msg {
  background-color: rgba(255, 255, 255, 0.5);
  color: lighten($comment_back, 10%);
  width: 100%;
  text-align: center;
  z-index: 1;
  position: fixed;
  margin: 0 auto;
  top: 190px;
}

.title {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 15px;
  line-height: 1.7;
  @include screen_tablet_portrait {
    font-size: 1.1rem;
  }
  @include screen_tablet {
    font-size: 1.2rem;
  }
  @include screen_desktop_small {
    font-size: 1.5rem;
  }
  ~ p {
    font-size: 0.8rem;
    @include screen_tablet_portrait {
      font-size: 0.9rem;
    }
    @include screen_tablet {
      font-size: 1rem;
    }
  }
}

.container {
  position: relative;
  background-color: $comment_back;
  max-width: $max_width;
  width: 100%;
  margin: 0 auto;
  z-index: 3;
  box-shadow: 0px -2px 5px #1a1a1a;
  top: 350px;
  @include screen_tablet_portrait {
    top: 400px
  }
  @include screen_tablet {
    top: 500px
  }

  @include screen_desktop_small {
    top: 600px
  }
  @include screen_desktop_medium {
    top: 700px
  }
  @include screen_desktop_large {
    top: 700px
  }
}

/* =========== HOVER EFFECTS ============ */



/* =========== FOOTER ============ */

footer {
  position: relative;
  clear: both;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: $comment_back;
  padding: 5px;
  text-align: right;
  color: grey;
  z-index: 2;
  > span {
    margin-right: 30px;
  }
}


/* =========== TOP NAVIGATION ============ */

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  margin: auto;
  z-index: 2;
  border-bottom: 2px solid $body_back_light;
}

#menu {
  margin: 0 auto;
  right: 0;
  padding: 0;
  max-width: $max_width;
  list-style-type: none;
  font-size: 0.8em;
}

#menu:after {
  content: '';
  display: block;
  clear: both;
}

#menu > li {
  float: right;
  width: 150px;
  position: relative;
}

#menu > li > a {
  display: block;
  padding: 25px;
  text-decoration: none;
  text-align: center;
  color: lighten($comment_back, 40%);
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-delay: 50ms;
}

#menu > li:hover > a {
  background-color: white;
}

#menu > li {
  position: relative;
}

#menu > li > ul {
  width: 100%;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: white;
}

#menu > li:hover > ul {
  visibility: visible;
}

#menu > li > ul > li > a {
  display: block;
  text-decoration: none;
  padding: 12px;
  color: #AAA;
}

#menu > li > ul > li:hover > a {
  color: white;
  background-color: #111111;
  transition-duration: 500ms;
  -webkit-transition-duration: 500ms;
  transition-delay: 0ms;
}

#menu > li > ul {
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform-origin: 50% 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transition: 250ms;
  transition-delay: 100ms;
}

#menu > li:hover > ul {
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
}
